@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container-fluid {
  padding: 0px; }

.servicesbanner {
  height: 30vh;
  width: 100%;
  display: table; }
  .servicesbanner h2 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    display: table-cell;
    width: 100%;
    vertical-align: middle; }

.services {
  display: flex; }
  .services .service-boxes {
    flex-grow: 1;
    overflow: hidden;
    height: 400px; }
  .services img {
    width: 600px;
    height: auto; }

.centered-navigation {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 50px;
  font-family: "Libre Baskerville", serif;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 50px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 50px;
      opacity: 0.6;
      padding: 0.8em 0; }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(0, 0, 0, 0.9);
    display: block;
    float: right;
    line-height: 50px;
    margin: 0;
    padding-right: 2.5em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: black; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  .centered-navigation ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-right: 2.5em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: rgba(0, 0, 0, 0.9);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: black; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 50px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 0.5em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -1em;
    max-height: 2em;
    opacity: 0.8; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 2.5em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 2.5em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(0, 0, 0, 0.9);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 2.5em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 2.5em; } }
      .centered-navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 1.25em; }
    .centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 2.5em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -2.5em;
        position: absolute;
        top: 1.5em; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 38.46154px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 1px;
            border-top-right-radius: 1px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            padding-bottom: 0.7em; } }
      .centered-navigation ul.submenu li a {
        background-color: rgba(247, 247, 247, 0.5);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: rgba(255, 255, 255, 0.5);
            padding-left: 2.5em;
            text-align: left;
            width: 12em; } }

.mainbanner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: auto;
  background-image: url("https://images.unsplash.com/photo-1474426112664-8f4248139c49?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=509&amp;q=80&amp;cs=tinysrgb&amp;crop="); }
  .mainbanner .centered-navigation {
    background-color: transparent; }
    .mainbanner .centered-navigation .centered-navigation-mobile-menu {
      color: white; }
    .mainbanner .centered-navigation ul li.nav-link a {
      color: white; }
    .mainbanner .centered-navigation ul li.nav-link > a::after {
      color: white; }

.subpage {
  margin-top: 75px; }

/*# sourceMappingURL=style.css.map */
