@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h2::after, .servicesBanner h2::after {
  display: block;
  content: '';
  padding-top: 1vh;
  border-bottom: solid 3px #333F45;
  transform: scaleX(0.2); }

body {
  font-family: "Montserrat", sans-serif;
  color: #333F45; }

.container-fluid {
  padding: 0px; }

h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 3em;
  margin-top: 0px; }

.sidemenu {
  background-color: #64B6AC;
  border-radius: 2px;
  min-height: 50vh;
  margin: 0 auto; }
  .sidemenu a {
    color: white; }
    .sidemenu a:hover {
      text-decoration: none; }
  .sidemenu ul {
    margin: 0 auto;
    padding: 0px;
    padding-top: 20px;
    line-height: 20px;
    text-align: center; }
  .sidemenu li {
    list-style: none; }

.centered-navigation {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 50px;
  font-family: "Libre Baskerville", serif;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 50px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 50px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: #333F45;
    display: block;
    float: right;
    line-height: 50px;
    margin: 0;
    padding-right: 2.5em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #64B6AC; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  .centered-navigation ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: rgba(255, 255, 255, 0.2);
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-right: 2.5em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: #333F45;
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #64B6AC; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 50px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 0.5em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -1em;
    max-height: 2em;
    opacity: 0.9; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 2.5em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 2.5em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: #333F45;
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 2.5em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 2.5em; } }
      .centered-navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 1.25em; }
    .centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 2.5em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -2.5em;
        position: absolute;
        top: 1.5em; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 38.46154px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 1px;
            border-top-right-radius: 1px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            padding-bottom: 0.7em; } }
      .centered-navigation ul.submenu li a {
        background-color: rgba(247, 247, 247, 0.2);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: rgba(255, 255, 255, 0.2);
            padding-left: 2.5em;
            text-align: left;
            width: 12em; } }

.mainBanner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: auto;
  background-image: url("https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=");
  border: 0.1px solid white; }

@-webkit-keyframes revealText {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.servicesButton a {
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vh;
  text-transform: uppercase;
  letter-spacing: .5vh;
  font-weight: 400;
  opacity: 0;
  -webkit-animation: revealText 1s ease-in 1s;
  -moz-animation: revealText 1s ease-in 1s;
  -o-animation: revealText 1s ease-in 1s;
  -ms-animation: revealText 1s ease-in 1s;
  animation: revealText 1s ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .servicesButton a:hover, .servicesButton a:focus, .servicesButton a:active {
    text-decoration: none; }
  .servicesButton a::after {
    display: block;
    content: '';
    padding-top: 1vh;
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .servicesButton a:hover::after {
    transform: scaleX(1); }

.rectangle {
  width: 100vh;
  height: 0vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(164, 252, 249, 0.5);
  position: absolute; }
  .rectangle h1 {
    text-align: center;
    color: white;
    font-size: 15vh;
    margin: 0 auto;
    opacity: 0;
    margin-top: 3vh;
    padding-left: 3vh;
    letter-spacing: 4vh;
    -webkit-animation: revealText 1s ease-in 1s;
    -moz-animation: revealText 1s ease-in 1s;
    -o-animation: revealText 1s ease-in 1s;
    -ms-animation: revealText 1s ease-in 1s;
    animation: revealText 1s ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .rectangle h1 .centertext {
      letter-spacing: 3vh;
      padding-left: 3vh; }
  .rectangle h6 {
    text-align: center;
    color: white;
    opacity: 0;
    font-style: italic;
    -webkit-animation: revealText 1s ease-in 1s;
    -moz-animation: revealText 1s ease-in 1s;
    -o-animation: revealText 1s ease-in 1s;
    -ms-animation: revealText 1s ease-in 1s;
    animation: revealText 1s ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.reveal {
  height: 50vh;
  transition: height 1s ease-in; }

.servicesBanner {
  height: 35vh;
  width: 100%;
  padding-top: 2vh; }
  .servicesBanner h2 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 3.5em;
    width: 100%; }
  .servicesBanner p {
    width: 80%;
    margin: 0 auto;
    text-align: justify; }

.services {
  display: flex; }
  .services .service-boxes {
    flex-grow: 1;
    overflow: hidden;
    height: 400px;
    position: relative;
    opacity: 0.8; }
    .services .service-boxes:hover {
      opacity: 1.0;
      cursor: pointer; }
    .services .service-boxes h6 {
      position: absolute;
      bottom: 0;
      background: rgba(164, 252, 249, 0.5);
      color: white;
      font-size: 1em;
      letter-spacing: 4px;
      padding: 20px;
      font-family: "Libre Baskerville", serif;
      margin-left: 5%;
      transition: 0.3s ease-in; }
    .services .service-boxes img {
      width: 600px;
      height: auto; }

.subpage {
  margin-top: 15vh; }

.col-sm-6 {
  margin-top: 0px;
  padding-top: 0px; }

.col-sm-4 {
  margin-bottom: 5px; }

#map {
  width: 100%;
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
