<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href='/assets/css/style.css' rel='stylesheet' type='text/css'>
<!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Montserrat:400,700" rel="stylesheet">

<!-- script tags -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script
  src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD2mCd8iSCXWiFoE7x9opheTqCndj0jUAY&"></script>
    <script src="/assets/js/scripts.js"></script>
    <title>Embody Tech</title>
  </head>
</html>
