{% include 'inc/head-tag.html.twig' %}
<body class="preload">
  <div class="container-fluid">
    {% include 'inc/navbar.html.twig' %}
<!-- ============= Website information  ================ -->
    <div class="row">
      <div class="col-sm-8">
        <!-- map goes here -->
      </div>
      <div class="col-sm-4">
        <!-- contact form goes here  -->
      </div>
    </div>
  </div>
</body>
</html>
