{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="container-fluid">

<!-- ============= Website information  ================ -->
    <div class ="mainbanner">
      {% include 'inc/navbar.html.twig' %}
    </div>
    <div class="servicesbanner">
      <h2>Our Services</h2>
    </div>
    <div class="services">
      <div class="service-boxes">
        <a href="/glovebox"><img src="/assets/img/tech1.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="/parylene"><img src="/assets/img/tech2.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="/plasma"><img src="/assets/img/tech3.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="/sputteringsystem"><img src="/assets/img/tech4.jpg"></a>
      </div>
    </div>
  </div>
</body>
</html>
