{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="container">
    <div class="container__overlay"></div>
<!-- ============= Website information  ================ -->
    <div class="hero">
      <div class="hero__info">
        <!-- <img src="https://s3-us-west-2.amazonaws.com/blackrabbitconsulting/images/logo.png" class="hero__logo"> -->
        <div>
          <h3>Consulting</h3>
          <h2>Black Rabbit</h2>
        </div>
        <p>colbyhayden@blackrabbit.com</p>
      </div>
      <div class="hero__tagline">
        <div>
          <h1>A Competitive Advantage.</h1>
          <div class="hero__button">
            <a href="#" class="animated-button">WHAT WE DO</a>
          </div>
          <!-- <button class="hero__btn btn">What we do</button> -->
        </div>
      </div>
    </div>
<!-- ================= Navigation ============= -->
    <nav>
      <div class="nav-wrapper">
        <div class="interactive-menu-button">
          <a href="#">
            <span>Menu</span>
          </a>
        </div>
      </div>
      <ul class="nav">
        <li class="nav__item"><h1>Services</h1></li>
        <li class="nav__item">About</li>
        <li class="nav__item">Contact</li>
      </ul>
    </nav>
  </div>
  <!-- ================ Preloader2 =============== -->
  <div class="helix-wrapper">
    <div class="helix-preloader">
      <div id="helix1" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
      <div id="helix2" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
      <div id="helix3" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
      <div id="helix4" class="helix">
        <div class="dotA"></div>
        <div class="dotB"></div>
      </div>
    </div>
    <div class="loader-title">
      <h1 class="msg">
        <span class="color2">· BLACK</span>
        <span class="color3">RABBIT ·</span>
      </h1>
    </div>
  </div>
</body>
</html>
