{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="container-fluid">
<!-- ============= Website information  ================ -->
    <div class ="mainBanner">
      {% include 'inc/navbar.html.twig' %}
      <div id="rectangle" class="rectangle">
        <h1>
          <span id="companyName">
            <span class="centertext">
              EMBODY
            </span>
            <br>
            TECH
          </span>
        </h1>
        <h6><span id="companySlogan">Cheese and wine cauliflower cheese rubber cheese macaroni cheese cheddar.</span></h6>
      </div>
      <h3><span class="servicesButton" id="servicesButton"><a href="#servicesBanner">Services</a></span></h3>
    </div>
    <div class="servicesBanner" id="servicesBanner">
      <h2>Our Services</h2>
      <p>Everyone loves pepper jack cheddar. Red leicester roquefort mozzarella taleggio fromage frais stilton cheesecake bavarian bergkase. Feta melted cheese monterey jack halloumi fromage frais camembert de normandie camembert de normandie croque monsieur. Airedale pecorino fromage squirty cheese bocconcini paneer edam cheese triangles. Camembert de normandie cheddar.</p>
    </div>
    <div class="services">
      <div class="service-boxes">
        <a href="/glovebox"><img src="/assets/img/tech1.jpg"></a>
        <h6>Glove Box</h6>
      </div>
      <div class="service-boxes">
        <a href="/parylene"><img src="/assets/img/tech2.jpg"></a>
        <h6>Parylene</h6>
      </div>
      <div class="service-boxes">
        <a href="/plasma"><img src="/assets/img/tech3.jpg"></a>
        <h6>Plasma</h6>
      </div>
      <div class="service-boxes">
        <a href="/sputteringsystem"><img src="/assets/img/tech4.jpg"></a>
        <h6>Sputtering System</h6>  
      </div>
    </div>
  </div>
</body>
</html>
