{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="container-fluid">
    {% include 'inc/navbar.html.twig' %}
    <div class="container__overlay"></div>
<!-- ============= Website information  ================ -->
    <div class ="mainbanner">
    </div>
    <h2>Our Services</h2>
    <div class="services">
      <div class="service-boxes">
        <a href="#"><img src="/assets/img/tech1.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="#"><img src="/assets/img/tech2.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="#"><img src="/assets/img/tech3.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="#"><img src="/assets/img/tech4.jpg"></a>
      </div>
    </div>
</body>
</html>
