{% include 'inc/head-tag.html.twig' %}
<body class="preload">
  <div class="container-fluid">

<!-- ============= Website information  ================ -->
    <div class ="mainBanner">
      {% include 'inc/navbar.html.twig' %}
      <div id="rectangle" class="rectangle">
        <h1>
          <span id="companyName">
            <span class="centertext">
              EMBODY
            </span>
            <br>
            TECH
          </span>
        </h1>
        <h6><span id="companySlogan">Cheese and wine cauliflower cheese rubber cheese macaroni cheese cheddar.</span></h6>
      </div>
    </div>
    <div class="servicesBanner">
      <h2>Our Services</h2>
    </div>
    <div class="services">
      <div class="service-boxes">
        <a href="/glovebox"><img src="/assets/img/tech1.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="/parylene"><img src="/assets/img/tech2.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="/plasma"><img src="/assets/img/tech3.jpg"></a>
      </div>
      <div class="service-boxes">
        <a href="/sputteringsystem"><img src="/assets/img/tech4.jpg"></a>
      </div>
    </div>
  </div>
</body>
</html>
