{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="container-fluid">
    {% include 'inc/navbar.html.twig' %}
<!-- ============= Website information  ================ -->
    <div class="row">
      <div class="col-sm-2">
      </div>
      <!-- <div class="col-sm-4">
        <img src='{{ imgurl }}' class="img-responsive">
      </div> -->
      <div class="col-sm-6">
        <h2>{{ title }}</h2>
        <p>{{ content }}</p>
      </div>
    </div>
  </div>
</body>
</html>
