{% include 'inc/head-tag.html.twig' %}
<body>
  <div class="container-fluid">
    {% include 'inc/navbar.html.twig' %}
<!-- ============= Website information  ================ -->
    <div class="row fadeInTransition temporary">
      <h2>{{ title }}</h2>
      <div class="col-sm-8">
        <p>{{ content }}</p>
      </div>
      <div class="col-sm-4 sideContent">
        {{ sidebarContent }}
      </div>
    </div>
  </div>
</body>
</html>
